<h1 mat-dialog-title> Credentials </h1>
<mat-dialog-content>
  <div class="content-item">
    <p><b>Email: </b> <span>{{email}}</span></p>
    <mat-icon class="cursor-pointer" (click)="copyToClipboard(email)">content_copy</mat-icon>
  </div>
  <div class="content-item">
    <p><b>Password: </b> <span>{{password}}</span></p>
    <mat-icon class="cursor-pointer" (click)="copyToClipboard(password)">content_copy</mat-icon>
  </div>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>


