mat-toolbar {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.toolbar-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.spacer {
  flex: 1;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 5px;
}

@media (max-width: 600px) {
  .user-info {
    display: none;
  }
}
